body, html{
    height: 100%;
    margin: 0;
}

.box{
    width: 40vh;
    margin: 0 auto;
    background-color: rgb(136, 99, 196);
    padding: 0px 15px 10px 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box .input{
    width: 100%;
    margin-bottom: 10px;
}